/* 
.container {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.titleText {
    color: white;
    text-align: left;
    width: 400px;
    margin-top: -70px;
}

.text {
    color: white;
    text-align: left;
}

.Description {
    width: 500px;
    padding-left: 50px;
}

.Image {
    padding-right: 50px;
}
 
.moreDescription {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.button {
    background-color: #FE4C00;
    border: none;
    padding:10px 40px 10px 40px;
    border-radius: 10px;
    color: white;
}